<table mat-table [dataSource]="dataSource$" class="mat-elevation-z8">

  <!-- Competence Column -->
  <ng-container matColumnDef="swedish">
    <th mat-header-cell *matHeaderCellDef> Kompetenstillägg </th>
    <td mat-cell *matCellDef="let element"> {{element.swedish}} </td>
  </ng-container>

  <!-- Issue Date Column -->
  <ng-container matColumnDef="issue-date">
    <th mat-header-cell *matHeaderCellDef> datum </th>
    <td mat-cell *matCellDef="let element"> {{element.issueDate.substring(0, 10)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>