<h2 *ngIf="!(authUser$|async)">Logga in först, uppe till höger</h2>
<h2 *ngIf="!((authUser$|async)?.privileges.clubadmin)">Du saknar behörighet för denna sida</h2>
<span *ngIf="((authUser$|async)?.privileges.clubadmin)">
  <p>
    På denna sida administrar klubben lincensansökningar från sina medlemmar.
    För att godkänna en licens ska klubben intyga:
  </p>
  <ul>
    <li>att piloten är medlem i kluben</li>
    <li>att piloten anses lämplig som hängflygpilot</li>
  </ul>

  <h3 *ngIf="(applicationCount$|async)===0">Det finns inga ansökningar att behandla</h3>
  <span *ngIf="(applicationCount$|async)>0">
    <h2>Ansökningar du kan behandla</h2>
    <p>Klicka på en rad för att se mer information om ansökan.</p>
  </span>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let data"> <button mat-raised-button (click)="$event.stopPropagation(); handleApplication(data, true)">godkänn</button> </td>
      </ng-container>

      <ng-container matColumnDef="reject">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let data"> <button mat-raised-button (click)="$event.stopPropagation(); handleApplication(data, false)" color="warn" >avslå</button> </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> år </th>
        <td mat-cell *matCellDef="let data"> {{data.application.year}} </td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> licens-<br>nivå </th>
        <td mat-cell *matCellDef="let data"> {{data.application.level}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> namn </th>
        <td mat-cell *matCellDef="let data"> {{data.person.givenName}} {{data.person.familyName}} </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> pilotens kommentar </th>
        <td mat-cell *matCellDef="let data"> {{data.application.comment}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let data" [attr.colspan]="columnsToDisplay.length">
          <div class="shf-element-detail"
               [@detailExpand]="data == expandedElement ? 'expanded' : 'collapsed'">
            Piloten skickade in ansökan {{data.application.timestampPilot}}
          </div>
        </td>
      </ng-container>

      <!-- header -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <!-- row -->
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="shf-element-row"
          [class.shf-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <!-- expanded row -->
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="shf-zero-height"></tr>
    </table>
</span>
<mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  