<h3> Status för ansökan om hängflyglicens {{application?.year}}</h3>
<mat-list>
  <mat-list-item> <mat-icon class="green">check</mat-icon>Piloten skickade in ansökan {{formatDate(application?.timestampPilot)}}</mat-list-item>

  <span *ngIf="application?.needFlightTest">
      <mat-list-item *ngIf="application?.timestampInstructor"> <mat-icon class="green">check</mat-icon> Uppflygning har godkänts av instruktör {{formatDate(application?.timestampInstructor)}}</mat-list-item>
      <mat-list-item *ngIf="!application?.timestampInstructor"> <mat-icon color="warn">warning</mat-icon> Uppflygning för instruktör behövs, men ej genomförts än</mat-list-item>
  </span>

  <span *ngIf="application?.timestampClub">
      <mat-list-item *ngIf="application?.approvedClub"><mat-icon class="green">check</mat-icon>
        Klubben har godkänt ansökan {{formatDate(application?.timestampClub)}}
    </mat-list-item>
    <mat-list-item *ngIf="!application?.approvedClub"> <mat-icon color="warn">error</mat-icon> Klubben har avslagit ansökan {{formatDate(application?.timestampClub)}}</mat-list-item>
  </span>
  <mat-list-item *ngIf="!application?.timestampClub"> <mat-icon class="orange">warning</mat-icon> Klubben har ej behandlat ansökan</mat-list-item>
 
  <span *ngIf="application?.timestampOffice">
      <mat-list-item *ngIf="application?.approvedOffice"><mat-icon class="green">check</mat-icon>
        SHF har godkänt ansökan {{formatDate(application?.timestampOffice)}}
    </mat-list-item>
    <mat-list-item *ngIf="!application?.approvedOffice"> <mat-icon color="warn">error</mat-icon> SHF har avslagit ansökan {{formatDate(application?.timestampOffice)}}</mat-list-item>
  </span>
  <mat-list-item *ngIf="!application?.timestampOffice"> <mat-icon class="orange">warning</mat-icon> SHF har ej behandlat ansökan</mat-list-item>

  <span *ngIf="!application?.timestampOffice">
    <mat-list-item> <mat-icon class="orange">help</mat-icon> Glöm inte att betala avgifterna </mat-list-item>
    <div>
      <h3>Kostnad för licensförnyelse</h3>
      <form [formGroup]="formGroup" class="shf-form">
        <mat-form-field class="shf-full-width">
          <mat-select placeholder="försäkring" formControlName="insurance">
            <mat-option *ngFor="let insurance of insurances" [value]="insurance.id" required>
              {{insurance.name}}, {{insurance.price}} kr
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <p *ngIf="!formGroup.value.insurance">Välj försäkringsalternativ ovan för att se kostnaden för förnyelsen.</p>
    <span *ngIf="formGroup.value.insurance">
      <p>Betala in {{insurances[formGroup.value.insurance-1].price}} kr till SHFs PlusGiro 112 38 82-1. Skriv meddelandet:</p>
      <p>
        Licenförnyelse {{application.year}}
        <br>licensnummer: {{application.licenseNbr}}
        <br>försäkring: {{insurances[formGroup.value.insurance-1].name}}
      </p>
    </span>
  </span>
</mat-list>
