<form [formGroup]="formGroup" class="shf-form" (submit)="onSubmit()">
  <div>
    <!-- License Number -->
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="licensnummer" formControlName="licNbr" autoFocus>
    </mat-form-field>
  </div>

  <!-- Person Number -->
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="personnummer" formControlName="pnr" [matAutocomplete]="pnrauto">
      <mat-autocomplete #pnrauto="matAutocomplete">
        <mat-option *ngFor="let person of (filteredPeople$|async)" [value]="person.personNumber">{{person.personNumber}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <!-- Name -->
  <div>
    <mat-form-field class="shf-half-width">
      <input matInput placeholder="tilltalsnamn" formControlName="givenName" [matAutocomplete]="givennameauto">
      <mat-autocomplete #givennameauto="matAutocomplete">
        <mat-option *ngFor="let name of givenNames$|async" [value]="name">{{name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="shf-half-width">
      <input matInput placeholder="efternamn" formControlName="familyName" [matAutocomplete]="familyunameauto">
      <mat-autocomplete #familyunameauto="matAutocomplete">
        <mat-option *ngFor="let name of familyNames$|async" [value]="name">{{name}}</mat-option>
      </mat-autocomplete>
  </mat-form-field>
  </div>

  <!-- Mobile -->
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="mobil" formControlName="mobile" [matAutocomplete]="mobile_auto">
      <mat-autocomplete #mobile_auto="matAutocomplete">
        <mat-option *ngFor="let mobile of mobiles$|async" [value]="mobile">{{mobile}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <!-- Email -->
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="email" formControlName="email" [matAutocomplete]="email_auto">
      <mat-autocomplete #email_auto="matAutocomplete">
        <mat-option *ngFor="let email of emails$|async" [value]="email">{{email}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    Matchar: {{matchText(filteredPeople$|async)}}
    <button type="submit" mat-raised-button [disabled]="(filteredPeople$|async).length!==1" class="right-align" >
      nästa
    </button>
  </div>
</form>
