<h2 *ngIf="!(authUser$|async)">Logga in först, uppe till höger</h2>
<h2 *ngIf="!((authUser$|async)?.privileges.safety)">Du saknar behörighet för denna sida</h2>
<div *ngIf="((authUser$|async)?.privileges.safety)">
    <p>På denna sida administreras incidentrapporter.</p>
    <h2>Incidenter</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Filter </mat-panel-title>
                <mat-panel-description> sök bland incidenter </mat-panel-description>
            </mat-expansion-panel-header>

            <form [formGroup]="formGroup">
                <p>
                    <mat-form-field>
                        <input matInput formControlName="year" placeholder="År">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="severity" placeholder="bedömning">
                    </mat-form-field>
                </p>
            </form>
        </mat-expansion-panel>

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Datum</th>
                <td mat-cell *matCellDef="let data" class="shf-date-col"> {{data?.createTimestamp| date: 'yyyy-MM-dd'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="severity">
                <th mat-header-cell *matHeaderCellDef>Bedämning</th>
                <td mat-cell *matCellDef="let data"> {{data?.severity}} </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Plats</th>
                <td mat-cell *matCellDef="let data"> {{data?.location}} </td>
            </ng-container>

            <ng-container matColumnDef="reporter">
                <th mat-header-cell *matHeaderCellDef>Rapportör</th>
                <td mat-cell *matCellDef="let data"> {{data?.reporterName}} </td>
            </ng-container>

            <!-- header -->
            <tr mat-header-row *matHeaderRowDef="headersToDisplay"></tr>
            <!-- row -->
            <tr mat-row *matRowDef="let incident; columns: columnsToDisplay;" class="shf-table-row"
            (click)="openIncident(incident)"
            >
            </tr>
        </table>
    </mat-accordion>
    <mat-paginator pageSize="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>