.center {
    text-align: center
  }
  table {
    width: 100%;
  }
  
  tr.shf-zero-height {
    height: 0;
    padding: 0;
  }
  
  tr.shf-table-row:hover {
    background: #bbb;
  }
  
  tr.shf-table-row:not(.shf-expanded-row):active {
    background: #efefef;
  }
  
  .shf-table-row td {
    border-bottom-width: 0;
  }
  
  .shf-date-col {
    max-width: 100px !important;
    min-width: 100px !important;
  }

  .shf-table-detail {
    overflow: hidden;
    display: block;
  }
  
  td {
    margin: 3px;
  }
  
  td:last-child {
    width: 100%;
  }
  
  mat-cell, .mat-cell {
    padding: 0px 16px 0px 0;
  }
  
  mat-header-cell, .mat-header-cell {
    padding: 0px 16px 0px 0;
  }