<form [formGroup]="formGroup" class="shf-form">
  <div>
    <mat-form-field class="shf-half-width">
      <input matInput placeholder="tilltalsnamn" formControlName="givenName" required>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
    <mat-form-field class="shf-half-width">
      <input matInput placeholder="efternamn" formControlName="familyName" required>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="gata" formControlName="street" required>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="shf-30-width">
      <input matInput placeholder="postnummer" formControlName="zip" required>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
    <mat-form-field class="shf-70-width">
      <input matInput placeholder="postort" formControlName="city" required>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="land" formControlName="country">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="mobiltelefon" formControlName="mobile" required>
      <mat-error>obligatorisk uppgift, används för digital licens (cardskipper)</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="e-post" formControlName="email" required>
      <mat-error>obligatorisk uppgift, kommer i framtiden krävas för inloggning</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="anhörig, namn" formControlName="contactPersonName">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="anhörig, telefon" formControlName="contactPersonPhone">
    </mat-form-field>
  </div>
</form>
