.shf-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.shf-full-width {
  width: 100%;
}

.shf-70-width {
  width: 70%;
}

.shf-half-width {
  width: 50%;
}

.shf-30-width {
  width: 30%;
}