<p>
  Som del av SHFs systematiska säkerhetsarbete samlar vi in statistik från verksamheten. Dina svar från tidigare år anges i parentes vid varje fråga.
</p>
<form [formGroup]="formGroup" class="shf-form">
  <!-- Flygtid -->
    <h4>Flygtid</h4>
      <div>
        <mat-form-field class="shf-full-width">
          <input matInput placeholder="flygtid under {{year}} {{makeStat((answers$|async), 1)}}" 
                 formControlName="1" required type="number">
          <mat-error>obligatorisk uppgift</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="shf-full-width">
          <input matInput placeholder="varav flygtid med motoriserad hängglidare {{makeStat((answers$|async), 2)}}" 
                 formControlName="2" type="number">
          <mat-error>obligatorisk uppgift</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="shf-full-width">
          <input matInput placeholder="total flygtid, accumerat över alla år {{makeStat((answers$|async), 3)}}"
                 formControlName="3" required type="number">
          <mat-error>obligatorisk uppgift</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="shf-full-width">
          <input matInput
                 placeholder="varav flygtid med motoriserad hängglidare, accumerat över alla år {{makeStat((answers$|async), 4)}}"
                 formControlName="4" type="number">
          <mat-error>obligatorisk uppgift</mat-error>
        </mat-form-field>
      </div>
  <!-- Starter -->
  <mat-divider></mat-divider>
    <h4>Antal starter</h4>
    <div>
      <mat-form-field class="shf-full-width">
        <input matInput placeholder="antal starter under {{year}} {{makeStat((answers$|async), 5)}}"
               formControlName="5" required type="number">
        <mat-error>obligatorisk uppgift</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="shf-full-width">
        <input matInput placeholder="varav antal starter med motoriserad hängglidare {{makeStat((answers$|async), 6)}}"
               formControlName="6" type="number">
        <mat-error>obligatorisk uppgift</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="shf-full-width">
        <input matInput placeholder="totalt antal starter (accumerat över alla år) {{makeStat((answers$|async), 7)}}"
               formControlName="7" required type="number">
        <mat-error>obligatorisk uppgift</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="shf-full-width">
        <input matInput placeholder="varav antal starter med motoriserad hängglidare (accumerat över alla år) {{makeStat((answers$|async), 8)}}"
               formControlName="8" type="number">
        <mat-error>obligatorisk uppgift</mat-error>
      </mat-form-field>
    </div>
  <!-- extra -->
  <mat-divider></mat-divider>
  <h4>Händelser</h4>
  <div>
    <mat-form-field class="shf-full-width">
      <input matInput placeholder="antal brutna bygelben under {{year}} {{makeStat((answers$|async), 9)}}"
             formControlName="9" required type="number">
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
</form>
