<h2 *ngIf="!(authUser$|async)">Logga in först, uppe till höger</h2>
<h2 *ngIf="!((authUser$|async)?.privileges.office)">Du saknar behörighet för denna sida</h2>
<p>På denna administrerar kansliet lincensansökningar.</p>

<h3 *ngIf="(applicationCount$|async)===0">Det finns inga ansökningar att behandla</h3>

<h2>Ansökningar</h2>
<p>Klicka på en rad för att se mer information om ansökan.</p>
<p>
  <mat-icon class="green">done</mat-icon> - godkänd
  <mat-icon color="warn">error</mat-icon> - avslag
  <mat-icon class="orange">warning</mat-icon> - obligatoriskt moment som ej genomförts (t.ex. uppflygning för instruktör)
</p>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Filter </mat-panel-title>
      <mat-panel-description> sök bland ansökningarna </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="formGroup">
      <p>
        <mat-form-field >
          <input matInput formControlName="year" placeholder="År">
        </mat-form-field>
        <mat-form-field >
          <input matInput formControlName="licenseNbr" placeholder="licensnummer">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Behandlt av kansliet</mat-label>
          <mat-select formControlName="office">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="constants.approve">godkänt</mat-option>
            <mat-option [value]="constants.reject">avslaget</mat-option>
            <mat-option [value]="constants.undecided">ej behandlat</mat-option>
            <mat-option [value]="constants.decided">behandlat</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Behandlt av klubben</mat-label>
          <mat-select formControlName="club">
            <mat-option [value]="null"></mat-option>
            <mat-option [value]="constants.approve">godkänt</mat-option>
            <mat-option [value]="constants.reject">avslaget</mat-option>
            <mat-option [value]="constants.undecided">ej behandlat</mat-option>
            <mat-option [value]="constants.decided">behandlat</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </form>
  </mat-expansion-panel>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="approve">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let data"> 
        <button mat-raised-button color="{{approveButtonColor(data)}}" (click)="$event.stopPropagation(); handleApplication(data, true)">godkänn</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="reject">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let data"> <button mat-raised-button (click)="$event.stopPropagation(); handleApplication(data, false)" color="warn" >avslå</button> </td>
    </ng-container>

    <ng-container matColumnDef="flight-test">
      <th mat-header-cell *matHeaderCellDef> uppflygning </th>
      <td *matCellDef="let data" class="center">
        <span *ngIf="data.application.needFlightTest">
          <mat-icon *ngIf="data.application.timestampInstructor" class="green" [matTooltip]="'instruktör godkände ansökan ' + data.application.timestampInstructor.substring(0, 10)">done</mat-icon>
          <mat-icon *ngIf="!data.application.timestampInstructor" class="orange" matTooltip="uppflygning krävs, men har ej genomförts">warning</mat-icon>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="club-status">
      <!-- klubbens beslut -->
      <th mat-header-cell *matHeaderCellDef colspan="2"> klubbens beslut</th>
      <td *matCellDef="let data">
        <span *ngIf="data.application.approvedClub!=null">
          <mat-icon *ngIf="data.application.approvedClub" class="green" [matTooltip]="'klubben godkände ansökan ' + data.application.timestampClub.substring(0, 10)">done</mat-icon>
          <mat-icon *ngIf="!data.application.approvedClub" color="warn" [matTooltip]="'klubben avslog ansökan ' + data.application.timestampClub.substring(0, 10)">error</mat-icon>
        </span>
        <mat-icon *ngIf="data.application.approvedClub==null" class="orange" matTooltip="klubben har inte behandlat ansökan">warning</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="club">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let data"> {{data.club?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> år </th>
      <td mat-cell *matCellDef="let data"> {{data.application.year}} </td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> licens-<br>nivå </th>
      <td mat-cell *matCellDef="let data"> {{data.application.level}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> namn </th>
      <td mat-cell *matCellDef="let data"> {{data.person?.givenName}} {{data.person?.familyName}} </td>
    </ng-container>

    <ng-container matColumnDef="licnbr">
      <th mat-header-cell *matHeaderCellDef> Licensnummer </th>
      <td mat-cell *matCellDef="let data"> {{data.application.licenseNbr}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> pilotens kommentar </th>
      <td mat-cell *matCellDef="let data"> {{data.application.comment}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let data" [attr.colspan]="columnsToDisplay.length">
        <div class="shf-application-detail"
          [@detailExpand]="data == expandedApplication ? 'expanded' : 'collapsed'">
          <div>Piloten skickade in ansökan {{data.application.timestampPilot?.substring(0, 10)}}</div>
          <div *ngIf="data.application.approvedClub"> klubben godkände ansökan {{data.application.timestampClub?.substring(0, 10)}} </div>
          <div *ngIf="data.application.approvedClub===0"> klubben avslog ansökan {{data.application.timestampClub?.substring(0, 10)}} </div>
          <div *ngIf="data.application.approvedOffice"> SHF godkände ansökan {{data.application.timestampOffice?.substring(0, 10)}} </div>
          <div *ngIf="data.application.approvedOffice===0"> SHF avslog ansökan {{data.application.timestampOffice?.substring(0, 10)}} </div>
        </div>
      </td>
    </ng-container>

    <!-- header -->
    <tr mat-header-row *matHeaderRowDef="headersToDisplay"></tr>
    <!-- row -->
    <tr mat-row *matRowDef="let application; columns: columnsToDisplay;"
        class="shf-application-row"
        [class.shf-expanded-row]="expandedApplication === application"
        (click)="expandedApplication = expandedApplication === application ? null : application">
    </tr>
    <!-- expanded row -->
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="shf-zero-height"></tr>
  </table>
</mat-accordion>
<mat-paginator pageSize="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
