<h2 *ngIf="!(authUser$|async)">Logga in först, uppe till höger</h2>
<h3 *ngIf="(authUser$|async)">Ansökan om hängflyglicens för {{year}}</h3>
<mat-horizontal-stepper #stepper *ngIf="(authUser$|async)">

  <!-- Person -->
  <mat-step [stepControl]="personForm">
    <ng-template matStepLabel>Personuppgifter</ng-template>
    <p>Konrollera dina kontaktuppgifter. Licensbrickan kommer att skickas till address nedan.</p>
    <shf-person [person]="(loggedinPerson$|async)"></shf-person>
    <div>
      <button mat-button (click)="savePerson()">Spara och gå till nästa steg</button>
    </div>
  </mat-step>

  <!-- Behörigheter -->
  <mat-step>
    <ng-template matStepLabel>Kompetenstillägg</ng-template>
    <p>Kontrollera att alla kompetenstillägg är registrerade i systemet innan du förnyar licensen. Om något saknas så maila en kopia på det gula kortet till per.andersson@cs.lth.se.</p>
    <shf-pilot-skills [licNbr$]="licNbr$"></shf-pilot-skills>
    <div>
      <button mat-button matStepperPrevious>Bakåt</button>
      <button mat-button matStepperNext>Nästa</button>
    </div>
  </mat-step>

  <!-- Statistik -->
  <mat-step [stepControl]="statisticsForm">
    <ng-template matStepLabel>Statistik</ng-template>
    <shf-statistics [year]="year-1" [person$]="loggedinPerson$"></shf-statistics>
    <div>
      <button mat-button matStepperPrevious>Bakåt</button>
      <button mat-button  (click)="saveStatistics()">Spara och gå till nästa steg</button>
    </div>
  </mat-step>

  <!-- Licensalternativ och försäkring -->
  <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>ansökan</ng-template>
      <span *ngIf="!preStepsOk()">
        <h4>Det finns fel eller osparad data i tidigare steg.</h4>
        <p *ngIf="!personForm?.valid">Formuläret för personuppgifter i steg 1 är inte korrekt ifyllt.</p>
        <p *ngIf="!personForm?.pristine">Personuppgifterna i steg 1 är inte sparade. Gå dit och klicka på knappen "Spara och gå till nästa steg".</p>
        <p *ngIf="!statisticsForm?.valid">Formuläret för statistiken i steg 3 är inte korrekt ifyllt.</p>
        <p *ngIf="!statisticsForm?.pristine">Statistiken i steg 3 är inte sparade. Gå dit och klicka på knappen "Spara och gå till nästa steg".</p>
      </span>
      <shf-license-options *ngIf="preStepsOk()" 
                           [year]="year" 
                           [person$]="loggedinPerson$"
                           [licNbr$]="licNbr$"
                           [application$]="application$">
      </shf-license-options>
      <div>
        <button mat-button matStepperPrevious>Bakåt</button>
        <button *ngIf="!(application$|async)" mat-button (click)="submitApplication()">Skicka in ansökan</button>
        <button *ngIf="(application$|async)" mat-button matStepperNext>Ansökan har skickats in, visa status</button>
      </div>
    </form>
  </mat-step>

  <!-- Bekräftelse -->
  <mat-step>
    <ng-template matStepLabel>Status</ng-template>
    <shf-licens-application-status *ngIf="application$|async" [application]="application$|async" [insurances]="insurances"></shf-licens-application-status>
    <span *ngIf="!(application$|async)"><h3>Ansökan är inte inlämnad</h3> <p>Skicka in ansökan i steg 4, "ansökan".</p></span>
  </mat-step>

</mat-horizontal-stepper>
