<h2 *ngIf="!(authUser$|async)">Logga in först, uppe till höger</h2>
<h2 *ngIf="!((authUser$|async)?.payload.lic)">Du har inte någon licens.</h2>

<ul *ngFor="let data of (applicationMap$|async|keyvalue)">
  <li>{{data|json}}</li>
</ul>