<h2 *ngIf="application$|async">Ansökan har skickats in</h2>
<p *ngIf="application$|async">Efter att ansökan har skickats in kan piloten inte ändra uppgifterna.</p>
  <span *ngIf="renewData.renewAlternative===renewAlternatives.uppflygning">
    <p>Du har flugit för lite för att kunna förnya licensen och behöver göra en upplygning för instruktör som del av licensförnyelsen:</p>
    <ol>
      <li>Du skickar in din ansökan om en licensförnyelse genom att klicka på "skicka in ansökan" nedan.</li>
      <li>Du betalar licensavgiften och försäkringen till SHF.</li>
      <li>Du betalar medlemsavgiften i din klubb.</li>
      <li>Du flyger upp för en instruktör.</li>
      <li>Instruktören kompletterar din ansökan med intyg om godkänd uppflygning (görs online av instruktören).</li>
      <li>Klubben ska även godkänna din licensförnyelse (kan ske innan uppflygningen).</li>
      <li>När klubben, instruktören och SHF har godkännat din ansökan är din licens giltig.</li>
    </ol>
   </span>
   <span *ngIf="renewData.renewAlternative===renewAlternatives.pilot80housException">
     <p>Du har totalt mer än 80 flygtimmar och kan i år förnya din pilotlicens utan krav på flygtid, se verksamhetshandboken 3.5.2.</p>
   </span>
   <span *ngIf="renewData.renewAlternative===renewAlternatives.pilotDowngradToElev">
      <p>Du har flugit för lite för att kunna förnya din pilotlicens.</p>
      <p>Du kan dock förnya som en elevlicens. Följande gäller:</p>
      <ul>
       <li>Du skickar in din ansökan om en licensförnyelse genom att klicka på "skicka in ansökan" nedan.</li>
       <li>Du betalar licensavgiften och försäkringen till SHF.</li>
       <li>Du betalar medlemsavgiften i din klubb.</li>
       <li>När klubben och SHF har godkännat din ansökan har du en giltig elevlicens.
           Nu får du flyga, men inte utnyttja dina kompetenstillägg som kräver pilotlicens (t.ex. får du inte göra sträckflygningar)</li>
       <li>När du flugit 5 timmar övergår elevlicensen till en pilotlicens.
           <br>Alternativt så flyger du upp för instruktör, som direkt kan lyfta din licensnivå till pilot.</li>
     </ul>
  </span>
  <span *ngIf="renewData.renewAlternative===renewAlternatives.elev || renewData.renewAlternative===renewAlternatives.pilot">
      <p>Du uppfyller flygkraven för att förnya din licens.</p>
      <ol>
       <li>Du skickar in din ansökan om licensförnyelse genom att klicka på "skicka in ansökan" nedan.</li>
       <li>Du betalar licensavgiften och försäkringen till SHF.</li>
       <li>Du betalar medlemsavgiften i din klubb.</li>
       <li>När klubben och SHF har godkännat din ansökan har du en giltig hängflyglicens.</li>
     </ol>
  </span>

  <h4>licensnivå enligt din utbildning: {{level}}</h4>
  <form [formGroup]="formGroup" class="shf-form">
    <div>
      <mat-form-field class="shf-full-width">
        <input matInput placeholder="licens för fygning under" formControlName="year" readonly required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="shf-full-width">
        <input matInput placeholder="licensnumer" formControlName="licenseNbr" readonly required>
      </mat-form-field>
    </div>
      
    <div>
    <mat-form-field class="shf-full-width">
      <mat-select placeholder="klubb" formControlName="clubId" required>
        <mat-option *ngFor="let club of (clubs$|async)" [value]="club.id" required>
          {{club.name}}
        </mat-option>
      </mat-select>
      <mat-error>obligatorisk uppgift</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="shf-full-width">
      <textarea rows="4" matInput placeholder="kommentar" formControlName="comment" [readonly]="application$|async"></textarea>
    </mat-form-field>
  </div>
  
  <div>
    <mat-checkbox
      formControlName="downgradeToElev"
      *ngIf="renewData.renewAlternative===renewAlternatives.pilotDowngradToElev">
      Jag ansöker om tillfällig elevlicens, som uppgraderas till pilotlicens när jag flugit 5 timmar.
    </mat-checkbox>
  </div>
  <div>
    <mat-checkbox 
      formControlName="needFlightTest"
      *ngIf="renewData.renewAlternative===renewAlternatives.pilotDowngradToElev || renewData.renewAlternative===renewAlternatives.uppflygning">
      Jag flyger upp för instruktör som del av min licensförnyelse.
    </mat-checkbox>
  </div>
</form>

