<h2 *ngIf="!(authUser$|async)">Logga in först, uppe till höger</h2>
<h2 *ngIf="!((authUser$|async)?.privileges.office)">Du saknar behörighet för denna sida</h2>
<h3>Rutin för att hantera kompetenstillägg</h3>

<span *ngIf="(authUser$|async)">
  <shf-select-person  *ngIf="!pilot" (person)="onPerson($event)"></shf-select-person>

  <div *ngIf="pilot">
    {{pilot.givenName}} {{pilot.familyName}}
    <form [formGroup]="formGroup" class="shf-form" (submit)="createPilotSkill()">
      <div>
        <mat-form-field class="shf-full-width">
          <input required matInput placeholder="licensnummer, instruktör" formControlName="instrLicNbr">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="shf-full-width">
          <mat-label>kompetenstillägg</mat-label>
          <mat-select required formControlName="skillId">
            <mat-option *ngFor="let skill of skills$|async" [value]="skill.id">
              {{skill.swedish}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="shf-full-width">
          <input required type="date" matInput placeholder="datum" formControlName="date">
        </mat-form-field>
      </div>
  
      <div>
        <button type="submit" mat-raised-button [disabled]="!formGroup.valid" class="right-align" >
          spara
        </button>
      </div>
    </form>
  </div>
</span>
