<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Meny</mat-toolbar>

    <mat-nav-list *ngIf="!(authUser$|async)">
      <h4>Ej inloggad</h4>
      <a mat-list-item href="#/incident/">Rapportera incident</a>
      <a mat-list-item>Logga in för fler funktioner</a>
    </mat-nav-list>

    <mat-nav-list *ngIf="isPilot$|async">
      <h4>Pilot</h4>
      <a mat-list-item href="#/pilot/license-application/">Förnya licens</a>
      <a mat-list-item href="#/incident/">Rapportera incident</a>

    </mat-nav-list>

    <mat-nav-list *ngIf="clubAdmin$|async">
      <h4>Klubb</h4>
      <a mat-list-item href="#/club-admin/applications/">
        <span matBadge="{{clubNbrApplications$|async}}" [matBadgeHidden]="!(clubNbrApplications$|async)" matBadgeOverlap="false">Licensförnyelser</span>
      </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="isOfficeAdmin$|async">
      <h4>Kansli</h4>
      <a mat-list-item href="#/office/applications/">
        <span matBadge="{{officeNbrApplications$|async}}" [matBadgeHidden]="!(officeNbrApplications$|async)" matBadgeOverlap="false">Licensförnyelser</span>
      </a>
      <a mat-list-item href="#/office/pilot-skill/">
        Kompetenstillägg
      </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="isSaftyAdmin$|async">
      <h4>Incidenter</h4>
      <a mat-list-item href="#/list-incidents">Incidentrapporter</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{(isHandset$ | async) ?'SHF' : 'Svenska Hängflygförbundet'}}</span>
      <span class="toolbar-spacer"></span>
      <holmby-auth-menu></holmby-auth-menu>
    </mat-toolbar>
    <shf-load-indicator></shf-load-indicator>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>1
