<h3 *ngIf="mode===Mode.create">Rapportera händelse</h3>
<h3 *ngIf="mode===Mode.edit">Editera händelse</h3>
<mat-horizontal-stepper #stepper>

  <!-- Reporter ---------------------------------------------------->
  <mat-step [stepControl]="reporterForm">
    <ng-template matStepLabel>Rapportör</ng-template>
    <p>Endast steg 2 är obligatoriskt. När du beskrivit händelsen kan du klicka på "Granska och skicka in".</p>
    <p>Här lämnas uppgifter om personen som fyller i rapporten. Det går även bra att vara anonym, men lämna gärna
      kontaktuppgifter så vi kan komma i kontakt med dig om vi behöver komplettera rapporten under utredningen.</p>
    <p>Både rapportören och piloten är skyddade och uppgifter som kan identifera rapportrör eller pilot är bara
      tillgänglihga för de som utreder händelsen.</p>
    <form [formGroup]="reporterForm" class="shf-form">
      <!-- anonymous -->
      <mat-checkbox formControlName="anonymousReporter" (change)="onAnonymousReporterChanged($event)">anonym</mat-checkbox>
      <!-- named reporter -->
      <div *ngIf="!reporterForm.value.anonymousReporter">
        <p *ngIf="!(authUser$|async)">Logga in för att hämta dina uppgifter (uppe till höger)</p>
        <!-- name -->
        <mat-form-field class="full-width">
          <input matInput placeholder="namn" formControlName="name">
        </mat-form-field>
        <!-- email -->
        <mat-form-field class="full-width">
          <input matInput placeholder="e-post" formControlName="email">
        </mat-form-field>
        <!-- phone -->
        <mat-form-field class="full-width">
          <input matInput placeholder="telefonnummer" formControlName="phone">
        </mat-form-field>
      </div>
    </form>
    <div style="margin: 5px">
      <button mat-raised-button matStepperNext>nästa</button>
    </div>
  </mat-step>

  <!-- What happened ----------------------------------------------->
  <mat-step [stepControl]="incidentForm">
    <ng-template matStepLabel>Händelsen</ng-template>
    <p>Beskriv vad som hände. Försök att vara tydlig och objektiv. Undvik att spekulera eller gissa.</p>
    <form [formGroup]="incidentForm" class="incident-form">
      <!-- date of incident -->
      <br>
      <mat-form-field class="full-width">
        <mat-label>datum för händelsen</mat-label>
        <input matInput inputmode="numeric" formControlName="date" [matDatepicker]="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>

      <!-- Time of Incident -->
      <br>
      <mat-form-field class="full-width">
        <mat-label>klockslag</mat-label>
        <input type="time" matInput formControlName="time">
      </mat-form-field>

      <!-- Reason for flying -->
      <br>
      <mat-form-field class="full-width">
        <mat-label>typ av flygningen</mat-label>
        <mat-select formControlName="reasonForFlight">
          <mat-option [value]="'nöjesflygning'">allmän nöjesflygning</mat-option>
          <mat-option [value]="'tävling'">tävling</mat-option>
          <mat-option [value]="'grundutbildning'">grundutbildning</mat-option>
          <mat-option [value]="'vidarutbildning'">vidarututbildning</mat-option>
          <mat-option [value]="'licensförnyelse'">uppflygning för licensförnyelse</mat-option>
          <mat-option [value]="'betalande passagerare'">betalande passagerare</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Description of event-->
      <br>
      <mat-form-field class="full-width">
        <mat-label>beskriv händelseförloppet</mat-label>
        <textarea required rows=10 matInput formControlName="description"></textarea>
      </mat-form-field>

    </form>
    <div>
      <button mat-raised-button matStepperPrevious>bakåt</button>
      <button mat-raised-button (click)="onPreview()">granska och skicka in</button>
      <button mat-raised-button matStepperNext>nästa</button>
    </div>
  </mat-step>

  <!-- Pilot ------------------------------------------------------->
  <mat-step [stepControl]="pilotForm">
    <ng-template matStepLabel>Piloten</ng-template>
    <p *ngIf="!pilotForm.value.anonymousPilot">Uppgifter om piloten.</p>
    <p *ngIf="pilotForm.value.anonymousPilot">Piloten är anonym. Fyll gärna i uppgifter som är relevanta för
      utredningen.</p>
    <form [formGroup]="pilotForm" class="incident-form">
      <mat-button-toggle-group formControlName="anonymousPilot">
        <mat-button-toggle value="">Licensnummer</mat-button-toggle>
        <mat-button-toggle value="anonymous">anonym</mat-button-toggle>
      </mat-button-toggle-group>
      <span *ngIf="!pilotForm.value.anonymousPilot">
        <!-- Licens number -->
        <p *ngIf="!pilotForm.valid && (pilotForm.get('licenseNbr').dirty || pilotForm.get('licenseNbr').touched)" class="mat-warn">ange licensnummer, eller välj anonym pilot</p>
        <br>
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="licensnummer" formControlName="licenseNbr">
        </mat-form-field>
      </span>
      <!-- anonymous -->
      <span *ngIf="pilotForm.value.anonymousPilot">
        <p>Om du lämnar en anonym rapport får du gärna komplettera med uppgifterna nedan.</p>

        <!-- Licens level -->
        <br>
        <mat-select placeholder="licensnivå" formControlName="licenseLevel" class="full-width">
          <mat-option [value]="'instructor'">instruktör</mat-option>
          <mat-option [value]="'pilot'">pilotlicens</mat-option>
          <mat-option [value]="'elev'">elevlicens</mat-option>
          <mat-option [value]="'student'">elev under skolning</mat-option>
        </mat-select>

        <!-- Age -->
        <br>
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="ålder" formControlName="age">
        </mat-form-field>

        <!-- Total flight time -->
        <br>
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="total flygtid (timmar)" formControlName="totalFlightTime">
        </mat-form-field>

        <!-- Clubb -->
        <br>
        <mat-form-field class="full-width">
          <input matInput placeholder="klubb" formControlName="club">
        </mat-form-field>

      </span>
      <!-- Flight time last 4 month-->
      <br>
      <mat-form-field class="full-width">
        <input type="number" matInput placeholder="flygtid senaste 4 månaderna (timmar)" formControlName="recentFlightTime">
      </mat-form-field>

      <!-- Flight time on glider-->
      <br>
      <mat-form-field class="full-width">
        <input type="number" matInput placeholder="flygtid på aktuell hängglidare (timmar)" formControlName="gliderFlightTime">
      </mat-form-field>

    </form>
    <div>
      <button mat-raised-button matStepperPrevious>bakåt</button>
      <button mat-raised-button (click)="onPreview()">granska och skicka in</button>
      <button mat-raised-button matStepperNext>nästa</button>
    </div>
  </mat-step>


  <!-- Injuries and damage ----------------------------------------->
  <mat-step [stepControl]="injuriesForm">
    <ng-template matStepLabel>Skador</ng-template>
    <p>Uppgifter om skador på pilot och utrustningen.</p>
    <form [formGroup]="injuriesForm" class="incident-form">
      <!-- Glider -->
      <br>
      <mat-form-field class="full-width">
        <textarea rows=10 matInput placeholder="Skador på piloten, lämna tom om inga skador"
          formControlName="injuriesPilot"></textarea>
      </mat-form-field>
      <!-- Harness-->
      <br>
      <mat-form-field class="full-width">
        <textarea rows=10 matInput placeholder="Skador på vinge och annan utrustning, lämna tom om inga skador"
          formControlName="damageEquipment"></textarea>
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button matStepperPrevious>bakåt</button>
      <button mat-raised-button (click)="onPreview()">granska och skicka in</button>
      <button mat-raised-button matStepperNext>nästa</button>
    </div>
  </mat-step>

  <!-- Equipment --------------------------------------------------->
  <mat-step [stepControl]="equipmentForm">
    <ng-template matStepLabel>Utrustning</ng-template>
    <p>Uppgifter om utrustningen.</p>
    <form [formGroup]="equipmentForm" class="incident-form">

      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="hängglidarens modell och fabrikat" formControlName="glider">
      </mat-form-field>
      <!-- Harness-->
      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="selens modell och fabrikat" formControlName="harness">
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button matStepperPrevious>bakåt</button>
      <button mat-raised-button (click)="onPreview()">granska och skicka in</button>
      <button mat-raised-button matStepperNext>nästa</button>
    </div>
  </mat-step>

  <!-- Location ---------------------------------------------------->
  <mat-step [stepControl]="locationForm">
    <ng-template matStepLabel>Platsen</ng-template>
    <form [formGroup]="locationForm" class="incident-form">
      <!-- Description of location -->
      <br>
      <mat-form-field class="full-width">
        <textarea rows=15 matInput placeholder="Beskriv platsen (terräng, omgivning) som kan vara av intresse"
          formControlName="location"></textarea>
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button matStepperPrevious>bakåt</button>
      <button mat-raised-button (click)="onPreview()">granska och skicka in</button>
      <button mat-raised-button matStepperNext>nästa</button>
    </div>
  </mat-step>

  <!-- Comment ----------------------------------------------------->
  <mat-step [stepControl]="commentForm">
    <ng-template matStepLabel>Övrigt</ng-template>
    <form [formGroup]="commentForm" class="incident-form">

      <!-- Comment from reporter -->
      <br>
      <mat-form-field class="full-width">
        <textarea rows=15 matInput placeholder="Övriga kommentarer" formControlName="commentReporter"></textarea>
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button matStepperPrevious>bakåt</button>
      <button mat-raised-button (click)="onPreview()">granska och skicka in</button>
      <button mat-raised-button matStepperNext>nästa</button>
    </div>
  </mat-step>

  <!-- Confirmation ---------------------------------------------->
  <mat-step [stepControl]="commentForm">
    <ng-template matStepLabel>Granska och skicka in</ng-template>
    <!-- confirmation -->
    <span *ngIf="state === States.saved">
      <h4>Uppgifterna har lämnats in</h4>
      <p>Tack för din medverkan.</p>
    </span>
    <span *ngIf="state === States.sending">
      <h4>Skickar</h4>
      <p>Tack för din medverkan.</p>
    </span>
    <span *ngIf="state === States.edit">
      <h4>Granska uppgifterna</h4>
      <p>Skicka in med knappen längst ner.</p>
    </span>
    <!-- Rapportör -->
    <section class="preview">
      <h4>Rapportör</h4>
      <p *ngIf="reporterForm.value.anonymousReporter">anonym</p>
      <span class="preview-body" *ngIf="!reporterForm.value.anonymousReporter">
        <p *ngIf="reporterForm.value.name"><i>namn: </i> {{reporterForm.value.name}}</p>
        <p *ngIf="reporterForm.value.email"><i>e-post: </i> {{reporterForm.value.email}}</p>
        <p *ngIf="reporterForm.value.phone"><i>telefon: </i> {{reporterForm.value.phone}}</p>
      </span>
    </section>
    <!--  Händelsen-->
    <section class="preview">
      <h4>Händelsen</h4>
      <p><i>datum: </i> {{incidentForm.value.date|date: 'yyyy-MM-dd'}}</p>
      <p><i>tid: </i> {{incidentForm.value.time}}</p>
      <p *ngIf="incidentForm.value.reasonForFlight"><i>typ av flygning: </i>{{incidentForm.value.reasonForFlight}}</p>
      <p *ngIf="incidentForm.value.description"><i>beskrivning: </i>{{incidentForm.value.description}}</p>
      <p *ngIf="!incidentForm.value.description" class="mat-warn"><i><mat-icon color="warn">error</mat-icon>beskrivning: </i>måste anges</p>
    </section>
    <!-- Pilot -->
    <section class="preview">
      <h4>Pilot</h4>
      <!-- anonym -->
      <span *ngIf="pilotForm.value.anonymousPilot">
        <p>piloten är anonym</p>
        <p *ngIf="pilotForm.value.licenseLevel"><i>licensnivå: </i> {{pilotForm.value.licenseLevel}}</p>
        <p *ngIf="pilotForm.value.club"><i>klubb: </i> {{pilotForm.value.club}}</p>
        <p *ngIf="pilotForm.value.age"><i>ålder: </i> {{pilotForm.value.age}}</p>
        <p *ngIf="pilotForm.value.totalFlightTime"><i>total flygtid: </i> {{pilotForm.value.totalFlightTime}}</p>
      </span>
      <!-- licens nummer -->
      <span class="preview-body" *ngIf="!pilotForm.value.anonymousPilot">
        <p *ngIf="!pilotForm.valid" class="mat-warn"><i><mat-icon color="warn">error</mat-icon>licens nr: </i>ange licensnummer, eller välj anonym pilot</p>
        <p *ngIf="pilotForm.value.licenseNbr"><i>licens nr: </i> {{pilotForm.value.licenseNbr}}</p>
      </span>
      <!-- common -->
      <p *ngIf="pilotForm.value.recentFlightTime"><i>flygtid senaste 4 månader: </i>
        {{pilotForm.value.recentFlightTime}}</p>
      <p *ngIf="pilotForm.value.gliderFlightTime"><i>flygtid på aktuell hängglidare: </i>
        {{pilotForm.value.gliderFlightTime}}</p>
    </section>
    <!-- Skador -->
    <section class="preview">
      <h4>Skador</h4>
      <p *ngIf="injuriesForm.value.injuriesPilot"><i>pilot: </i>{{injuriesForm.value.injuriesPilot}}</p>
      <p *ngIf="!injuriesForm.value.injuriesPilot"><i>pilot: </i>inga skador</p>
      <p *ngIf="injuriesForm.value.damageEquipment"><i>utrustning: </i>{{injuriesForm.value.damageEquipment}}</p>
      <p *ngIf="!injuriesForm.value.damageEquipment"><i>utrustning: </i>inga skador</p>
    </section>
    <!-- Utrustning -->
    <section class="preview">
      <h4>Utrustning</h4>
      <p *ngIf="equipmentForm.value.glider"><i>vinge: </i> {{equipmentForm.value.glider}}</p>
      <p *ngIf="equipmentForm.value.harness"><i>sele: </i> {{equipmentForm.value.harness}}</p>
      <p *ngIf="equipmentForm.value.tandem"><i>tandem: </i> tandemflygning</p>
      <p *ngIf="equipmentForm.value.poweredHG"><i>motioriserad hängglidare: </i>flygning med motoriserad hängglidare</p>
    </section>
    <!-- Plats -->
    <section class="preview">
      <h4>Plats</h4>
      <p *ngIf="locationForm.value.location"><i>plats: </i> {{locationForm.value.location}}</p>
    </section>
    <!-- Commentar -->
    <section class="preview">
      <h4>Kommentar</h4>
      <p *ngIf="commentForm.value.commentReporter"><i>kommentar: </i> {{commentForm.value.commentReporter}}</p>
    </section>
    <button style="margin-top: 1.33em;" mat-raised-button matStepperPrevious>bakåt</button>
    <button mat-raised-button (click)="onSubmit()" [disabled]="state !== States.edit">skicka in</button>
</mat-step>
</mat-horizontal-stepper>