.incident-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.shf-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.shf-margin {
  /* top | right | bottom | left */
  margin: 0 20px 0 0;
}

.preview h4 {
  margin: 0.8em 0 0 0
}
.preview p {
  margin: 0 0 0 0
}

.mat-warn {
  color: #f44336;
}