// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shf-primary: mat-palette($mat-blue);
$shf-accent: mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$shf-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$shf-theme: mat-light-theme($shf-primary, $shf-accent, $shf-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shf-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green {color: green}
.orange {color: orange}

.shf-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.shf-full-width {
  width: 100%;
}

.shf-70-width {
  width: 70%;
}

.shf-half-width {
  width: 50%;
}

.shf-30-width {
  width: 30%;
}

.right-align {
  float: right;
}